<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Responsive Layout - Flex</title>
                <meta charset="UTF-8">
                <link rel="stylesheet" type="text/css" href="layout-flex.css">
                <link rel="stylesheet" type="text/css" href="layout.css">
            </head>
            <body>
                <div class="header">Header</div>
                <div class="menu">
                    <span class="menu-item">Menu1</span>
                    <span class="menu-item">Menu2</span>
                    <span class="menu-item">Menu3</span>
                </div>
                <div class="column-container">
                    <div class="column1">Column1</div>
                    <div class="column2">Column2</div>
                    <div class="column3">Column3</div>
                </div>
                <div class="footer">Footer</div>
            </body>
</html>